{% extends 'django_main/layout.html' %}

{% block title %} Удаление новости  {% endblock %}

{% block content %}
      <div class="features">
          <h1>Удаление новости</h1>
          <form method="post">
              {% csrf_token %}
              {{ form.title }} <br>
              {{ form.anonce }} <br>
              {{ form.full_text }} <br>
              {{ form.date }} <br>
              <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Удалить статью</button>
          </form>
      </div>


{% endblock %}